<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 	
 	<!-- START DECLARAIONS  -->
	 	<servlet>
	  		<servlet-name>homeServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.HomeServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>loginServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.LoginServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>registerServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.RegisterServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>logoutServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.LogoutServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>MyAccountServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.MyAccountServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>MyOrderServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.MyOrderServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>DashboardServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.DashboardServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>CartServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.CartServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>CheckoutServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.CheckoutServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>ContactServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.ContactServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>ProductDetailsServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.ProductDetailsServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>ProductListServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.ProductListServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>WishlistServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.WishlistServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>CategorieServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.CategorieServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>ProductServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.ProductServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>AdvertisementServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.AdvertisementServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>MyShoppingListServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.MyShoppingListServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>OrderServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.OrderServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>MakeOrderServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.MakeOrderServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>ReceiptServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.ReceiptServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>RoleServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.RoleServlet</servlet-class>
	  	</servlet>
	  	<servlet>
	  		<servlet-name>UserServlet</servlet-name>
	  		<servlet-class>com.ecomjeegi.UserServlet</servlet-class>
	  	</servlet>
	  	<filter>
	  		<filter-name>authFilter</filter-name>
	  		<filter-class>com.ecomjeegi.filters.AuthFilter</filter-class>
	  	</filter>
	  	<filter>
	  		<filter-name>loginFilter</filter-name>
	  		<filter-class>com.ecomjeegi.filters.LoginFilter</filter-class>
	  	</filter>
	  	<filter>
	  		<filter-name>logoutFilter</filter-name>
	  		<filter-class>com.ecomjeegi.filters.LogoutFilter</filter-class>
	  	</filter>
  	<!-- END DECLARATION / -->
  	
  	<!-- START Home pages  -->
		<servlet-mapping>
			<servlet-name>homeServlet</servlet-name>
			<url-pattern></url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>loginServlet</servlet-name>
			<url-pattern>/login</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>logoutServlet</servlet-name>
			<url-pattern>/logout</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>registerServlet</servlet-name>
			<url-pattern>/register</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>CheckoutServlet</servlet-name>
			<url-pattern>/checkout</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ContactServlet</servlet-name>
			<url-pattern>/contact</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ProductDetailsServlet</servlet-name>
			<url-pattern>/product</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ProductListServlet</servlet-name>
			<url-pattern>/productlist</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>WishlistServlet</servlet-name>
			<url-pattern>/wishlist</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
	  		<servlet-name>MyShoppingListServlet</servlet-name>
	  		<url-pattern>/myshoppinglist</url-pattern>
	  	</servlet-mapping>
	  	<servlet-mapping>
	  		<servlet-name>MakeOrderServlet</servlet-name>
	  		<url-pattern>/makeorder</url-pattern>
	  	</servlet-mapping>
	  	<servlet-mapping>
	  		<servlet-name>ReceiptServlet</servlet-name>
	  		<url-pattern>/receipt</url-pattern>
	  	</servlet-mapping>
	<!-- END Home pages /  -->
	
	<!-- START Dashboard pages -->
		<servlet-mapping>
			<servlet-name>DashboardServlet</servlet-name>
			<url-pattern>/dashboard</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>CategorieServlet</servlet-name>
			<url-pattern>/dashboard/categorie</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>ProductServlet</servlet-name>
			<url-pattern>/dashboard/product</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>AdvertisementServlet</servlet-name>
			<url-pattern>/dashboard/advertisement</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
	  		<servlet-name>OrderServlet</servlet-name>
	  		<url-pattern>/dashboard/order</url-pattern>
	  	</servlet-mapping>
	  	<servlet-mapping>
	  		<servlet-name>UserServlet</servlet-name>
	  		<url-pattern>/dashboard/user</url-pattern>
	  	</servlet-mapping>
	  	<servlet-mapping>
	  		<servlet-name>RoleServlet</servlet-name>
	  		<url-pattern>/dashboard/role</url-pattern>
	  	</servlet-mapping>
  	<!-- END Dashboard pages / -->
  	
  	<!-- SRATY myaccount Pages -->
  		<servlet-mapping>
			<servlet-name>MyAccountServlet</servlet-name>
			<url-pattern>/myaccount/details</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>MyOrderServlet</servlet-name>
			<url-pattern>/myaccount/order</url-pattern>
		</servlet-mapping>
  	<!-- END myaccount Pages / -->
	
	<!-- START Filters -->	
		<filter-mapping>
			<filter-name>authFilter</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>
		<filter-mapping>
			<filter-name>loginFilter</filter-name>
			<url-pattern>/logout</url-pattern>
			<url-pattern>/makeorder</url-pattern>
			<url-pattern>/dashboard/*</url-pattern>
			<url-pattern>/myaccount/*</url-pattern>
			<url-pattern>/makeorder</url-pattern>
		</filter-mapping>
		<filter-mapping>
			<filter-name>logoutFilter</filter-name>
			<url-pattern>/login</url-pattern>
			<url-pattern>/register</url-pattern>
		</filter-mapping>
	<!-- END Filters / -->
	
	<context-param> 
      <description>Location to store uploaded file</description> 
      <param-name>file-upload</param-name> 
      <param-value>
         c:\apache-tomcat-5.5.29\webapps\data\
      </param-value> 
   	</context-param>
	
</web-app>